body {
    background: #f4f4f4;
}


.box:hover {
    cursor: pointer;
}

.box:last-child::before {
    content: none;
}

.box:first-child::after {
    content: none;
}

.row .card {
    width: 100%;
    margin: 12px;
}

#doctor .card {
    margin: 12px;
}

#user-qr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box::before {
    content: '';
    position: absolute;
    width: 50px;
    top: 50%;
    left: calc(100% + 10px);
    height: 1px;
    background: black;
}

.box::after {
    content: '';
    position: absolute;
    width: 50px;
    top: 50%;
    right: calc(100% + 10px);
    height: 1px;
    background: black;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    color: #343a40;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}