.box {
    background-color: lightgrey;
    width: 150px;
    border: 10px solid #343a40;
    padding: 20px;
    margin: 30px;
    position: relative;
}

.box::before {
    content: '';
    position: absolute;
    width: 50px;
    top: 50%;
    left: calc(100% + 10px);
    height: 1px;
    background: black;
}

.box::after {
    content: '';
    position: absolute;
    width: 50px;
    top: 50%;
    right: calc(100% + 10px);
    height: 1px;
    background: black;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    color: #343a40;

}

.container {
    width: 20%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}