<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MedShare | De-centeralised Medical Timeline</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <style>
        body {
            background: #222;
        }
    </style>
</head>

<body>
    <div class="change">
        <nav class="navbar navbar-dark bg-transparent">
            <div class="container">
                <img src="/images/medsharelogo.png" alt="logo" height="80px;" width="80px;">
                <div class="text-muted" style="display: flex; justify-content: center; align-items: center;">
                    <a href="/user/login" class="text-white mx-2">Login</a> |
                    <a href="/user/signup" class="text-white ml-2">Sign up</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="jumbotron mt-2 text-white" style="background: black; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3)">
            <h1 class="display-4 animated fadeInUp">MedShare</h1>
            <p class="lead mb-1 animated fadeInUp" style="animation-delay: 500ms">A <strong>Universal Medical
                    Index</strong> to keep a secure track of your medical
                journey.
            </p>
            <hr class="my-4 bg-light animated fadeIn" style="animation-delay: 1.3s">
            <p class="animated fadeInUp" style="animation-delay: 1.4s">In just 2 minutes, be a part of our
                <strong>de-centralised</strong> community!</p>
            <p class="lead">
                <a class="btn btn-success btn-lg animated fadeInRight delay-2s" href="/user/signup" role="button">Get
                    your UMI</a>
                <a class="btn btn-outline-info btn-lg animated fadeInUp" style="animation-delay: 2.2s"
                    href="/authority/signup" role="button">Register as Authority</a>
            </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>